Eba5Dal/Service References/SapServiceReference/eba.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__eba">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__eba_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZWSHPA_EBA_ENTGRSYN">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>005056882E8A1ED5BAED7D3CFC21C4D4</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__Z_HPA_EBA_ENTEGRASYON">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char100">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="100" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="curr13.2">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="13" />
          <xsd:fractionDigits value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="string">
        <xsd:restriction base="xsd:string" />
      </xsd:simpleType>
      <xsd:complexType name="ZSTHPA_EBA_ENTG">
        <xsd:sequence>
          <xsd:element name="PERNR" type="tns:numeric8" />
          <xsd:element name="ONERI_ID" type="xsd:int" />
          <xsd:element name="ONERI_AD" type="tns:char100" />
          <xsd:element name="ONERI_TEXT" type="tns:string" />
          <xsd:element name="PARASAL_KAZANC" type="tns:curr13.2" />
          <xsd:element name="GIRIS_TARIH" type="tns:char8" />
          <xsd:element name="KABUL_TARIH" type="tns:char8" />
          <xsd:element name="EK_ALAN1" type="tns:char100" />
          <xsd:element name="EK_ALAN2" type="tns:char100" />
          <xsd:element name="EK_ALAN3" type="tns:char100" />
          <xsd:element name="EK_ALAN4" type="tns:char100" />
          <xsd:element name="EK_ALAN5" type="tns:char100" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZTTHPA_EBA_ENTG">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:ZSTHPA_EBA_ENTG" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Z_HPA_EBA_ENTEGRASYON">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IT_TABLE" type="tns:ZTTHPA_EBA_ENTG" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Z_HPA_EBA_ENTEGRASYONResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EV_TRNSFR_OK" type="tns:char1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Z_HPA_EBA_ENTEGRASYON">
    <wsdl:part name="parameters" element="tns:Z_HPA_EBA_ENTEGRASYON" />
  </wsdl:message>
  <wsdl:message name="Z_HPA_EBA_ENTEGRASYONResponse">
    <wsdl:part name="parameter" element="tns:Z_HPA_EBA_ENTEGRASYONResponse" />
  </wsdl:message>
  <wsdl:portType name="ZWSHPA_EBA_ENTGRSYN">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://mozaikqa.ford.com.tr:8000/sap/bc/esdt/docu/sd_text?sap-client=310&amp;sd_name=ZWSHPA_EBA_ENTGRSYN" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZWSHPA_EBA_ENTGRSYN" />
    </wsp:Policy>
    <wsdl:operation name="Z_HPA_EBA_ENTEGRASYON">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__Z_HPA_EBA_ENTEGRASYON" />
      </wsp:Policy>
      <wsdl:input message="tns:Z_HPA_EBA_ENTEGRASYON" />
      <wsdl:output message="tns:Z_HPA_EBA_ENTEGRASYONResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eba" type="tns:ZWSHPA_EBA_ENTGRSYN">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__eba" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_HPA_EBA_ENTEGRASYON">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWSHPA_EBA_ENTGRSYN:Z_HPA_EBA_ENTEGRASYONRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eba_soap12" type="tns:ZWSHPA_EBA_ENTGRSYN">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__eba_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Z_HPA_EBA_ENTEGRASYON">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZWSHPA_EBA_ENTGRSYN:Z_HPA_EBA_ENTEGRASYONRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eba">
    <wsdl:port name="eba" binding="tns:eba">
      <soap:address location="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba" />
    </wsdl:port>
    <wsdl:port name="eba_soap12" binding="tns:eba_soap12">
      <wsoap12:address location="http://mozaikqa.ford.com.tr:8000/sap/bc/srt/rfc/sap/zwshpa_eba_entgrsyn/310/eba/eba" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>